[ssh]
    variant = ssh
[user]
	name = Caleb Ekstrand
	email = ekstrand.caleb@ekshore.net
[pull]
    rebase = true
[push]
    autoSetupRemote = true
[core]
	editor = nvim
[init]
	defaultBranch = main
